<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ReportTracer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="serverName" value="smtp.gmail.com" />
    <add key="serverType" value="IMAP" />
    <add key="port" value="587" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ReportTracer.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SmtpSecurity" serializeAs="String">
        <value>SSL/TLS</value>
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value>developmentavant@gmail.com</value>
      </setting>
      <setting name="SmtpPass" serializeAs="String">
        <value>Informatica533.,</value>
      </setting>
      <setting name="ReceiverEmail" serializeAs="String">
        <value>developmentavant@gmail.com</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>[ReportTracer]JSONReport</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Hops" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CurrentTab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmtpTimeout" serializeAs="String">
        <value>20</value>
      </setting>
    </ReportTracer.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>